/*	LiteBox v1.1, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	=============================================================================== */

/*	Table of Contents
//	==================================================
//		#Default


/*	#Default
//	================================================== */

	.litebox-overlay {
		display: none;
		width: 100%;
		min-width: 280px;
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	
	.litebox-overlay .litebox-close {
		width: 40px;
		height: 40px;
		background: url('../imgs/litebox-close.png') no-repeat center;
		opacity: .7;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.litebox-overlay .litebox-close:hover {
		opacity: 1;
		cursor: pointer;
	}

	.litebox-overlay .litebox-nav {
		display: none;
		width: 150px;
		height: 80px;
		opacity: .2;
		position: absolute;
		top: 20%;
	}

	.litebox-overlay .litebox-nav:hover {
		opacity: .5;
		cursor: pointer;
	}

	.litebox-overlay .litebox-prev {
		background: url('right.png') no-repeat center;
		background-size: 150px auto;
		left: 20px;
		opacity: 1;
	}

	.litebox-overlay .litebox-next {
		background: url('left.png') no-repeat center;
		background-size: 150px auto;
		right: 20px;
		opacity: 1;
	}

	.litebox-overlay .litebox-container {
		position: absolute;
		top: 10%;
		right: 10%;
		bottom: 10%;
		left: 10%;
		overflow: hidden;
		line-height: 700px;
	}

	.litebox-overlay .litebox-container.litebox-scroll {
		overflow-y: auto;
	}

	.litebox-overlay img,
	.litebox-overlay iframe {
		margin: 0 auto;
		vertical-align: middle;
	}
	.litebox-overlay img{
		height: 100%;
		width: auto;
	}

	.litebox-overlay iframe {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 999999;
	}

	.litebox-overlay .litebox-inline-html {
		width: 100%;
		padding: 20px;
		background: #FFF;
		line-height: normal;
		overflow-x: hidden;
		line-height: normal !important;
		position: absolute;
	}

	.litebox-overlay .litebox-error {
		width: 100%;
		height: 100%;
		color: #FFF;
		text-align: center;
		line-height: inherit;
	}

	.litebox-overlay .litebox-error span {
		background: rgba(0, 0, 0, .9);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 20px;
		color: #FFF;
		text-shadow: 1px 1px 0 #000;
		line-height: normal;
	}