
#cover{
    width:70%;
    height:auto;
    overflow: hidden;
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 15px;
    right:0;
    left:0;
    position: fixed;
}
body#home{
    background: url('profile.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    font-size: 62.5%;
    overflow: hidden;
}
body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body#bio{
    font-size: 62.5%;
}
h1{
    height: 2em;
    text-align: left;
    color:#7de8d3;
    font-family: starsfromoureyes;
    font-size: 5em;
    opacity: 100%;
    margin-bottom: 5px;
}
#port div{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-bottom: 170px;
}
#port footer{
    background-color:white;
    height: 170px;
    position: fixed;
    display: block;
    bottom: 0px;
}
#port h1, #name{
    margin-top: 10px;
}
li{
    text-align: center;
    margin-right: 15%;
    text-decoration: none;
    display: inline;
}
ul{
    padding: 0px;
    display: block;
    text-align: center;
    margin-top: -45px;
}
li:last-child{
    margin-right:0px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    opacity: .5;
}
li a{
    text-decoration: none;
    display: inline;
    font-size: 4.2em;
    color:white;
    font-family: Arsenalewhite;
    margin-top: -40px;
}
.active{
    opacity: .50;
}
#fish{
    float:right;
    padding-top: 40px;
    margin-right:-600px;
    -webkit-filter: saturate(50%);
    -moz-filter:saturate(50%);
    -o-filter:saturate(50%);
    -ms-filter:saturate(50%);
    filter:saturate(50%);
    opacity: .70;
}
#bio li a, #port li a{
    color:#02c6a1;
}
body#bio{
    background-color:#7de8d3;
}
#contact footer{
    height: 170px;
    position: fixed;
    display: block;
    bottom: 0px;
}
#contact li{
    display: inline;
}
#boots{
    width: 300px;
    height: auto;
    float:right;
    margin-top:80px;
    padding-right: 40px;
}
#bio h1{
    color: white;
}
#bio p{
    font-size: 1.6em;
    color:#02c6a1;
    font-family: american typewriter;
    margin-top: 200px;
    padding-left: 60px;
    line-height: 1.5em;
}
body#coverPage{
    background-color:#02c6a1;
}
#coverPage a{
    color:#7de8d3;
    font-size: 1.7em;
    font-family: starsfromoureyes;
    float:right;
    margin-right: 15%;
    margin-top: 45px;
    position:relative;
    z-index: 100;
}
 a#art:hover + #cover{
    -webkit-filter:brightness(50%);
    -moz-filter:hue-rotate(50deg);
    -ms-filter:hue-rotate(50deg);
    -o-filter:hue-rotate(50deg);
    filter:hue-rotate(50deg);

}
#port, #bio, #home, .litebox-overlay #nav{
    -webkit-animation: fadein 1.5s;
    -moz-animation:fadein 1.5s;
    -ms-animation:fadein 1.5s;
    -o-animation:fadein 1.5s;
    animation: fadein 1.5s;
}
#contact{
    -webkit-animation: fadein 1.5s;
    -moz-animation:fadein 1.5s;
    -ms-animation:fadein 1.5s;
    -o-animation:fadein 1.5s;
    animation: fadein 1.5s;
    background-color:#02c6a1;
    font-size: 62.5%;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fadin {
    from {opacity: 0;}
    to {opacity: 1;}
}
form #birds{
    width: 300px;
    height: auto;
    float:right;
    margin-right: 50px;
    margin-top: -400px;
    display:inline;
    position: relative;
}
form{
    font-size: 2.5em;
    text-align: center;
    font-family: Arsenalewhite;
    color: white;
    display: block;
    margin-top:10em;
}
input, textarea{
    border:none;
    text-align: left;
    outline: none;
    border-bottom:1px solid white;
    background:transparent;
    text-decoration: none;
    font-family: sans-serif;
    color:#7de8d3;
    resize:none;
   /*use jquery to auto resize text area*/
}
textarea{
    height: 50px;
}
form legend{
    color:#7de8d3;
    font-size: 7em;
    text-align: center;
    display: block;
}
label{
    font-size: 4em;
    text-align: left;
    display: block;
    padding-left: 4em;
}
#submit{
    border:none;
    background:none;
    outline: none;
    color: black;
    font-family: inherit;
    font-size: 5.5em;
    letter-spacing: 1.5px;
    line-height: 1em;
}
#submit:hover + #birds{
    transform:rotateY(189deg);
    -webkit-transform:rotateY(189deg);
    -moz-transform:rotateY(189deg);
    -ms-transform:rotateY(189deg);
    -o-transform:rotateY(189deg);
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transition: transform 3s;
    -webkit-transition: transform 3s;
    -moz-transition:transform 3s;
    -ms-transition:transform 3s;
    -o-transition:transform 3s;
}
.group{
    margin-right: 10px;
    margin-top: 10px;
    height: 150px;
    width: auto;
    display: inline-block;
}
.group:hover{
    opacity: .5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -ms-transiton:opacity .25s ease-in-out;
   -o-transition:opacity .25s ease-in-out;
}
figure{
    display: inline;
    margin:0px;
}
figcaption{
    background-color: white;
    width: 350px;
    margin:auto;
    display: block;
    margin-top: -15px;
}
.nav-toggle{
    display: none;
}
#navMain li{
    display: inline;
}
.nav-collapse{
    display: none;
}
#feature{
    margin-top: 150px;
}
#feature img{
    margin:15px;
}

/*responsive*/

@media screen and (max-width: 960px){
    #boots, #bio p{
        padding:0px;
    }
    #coverPage #art{
        display: block;
        font-size:3.5em;
        float:none;
        text-align: center;
        margin-top: 550px;
        margin-right: 0px;
    }
    #cover{
        margin-top: -620px;
        width:75%;
        height: auto;
    }
}
@media screen and (max-width:790px){
    li{
        margin-right: 5%;
    }
    #cover{
        padding-top: 10px;
        width: 98%
    }
     form #birds{
        width:200px;
        height: auto;
        position: relative;
        z-index: 20;
        float:right;
        margin-right: -70px;
        margin-top: -295px;
    }
    label{
        padding-left: 0px;
    }
    form{
        text-align: left;
        position: absolute;
        z-index: 0;
    }
    #name{
        font-size: 2.6em;
        margin-top: 20px;
    }
    #nav li a{
        font-size: 3.5em;
    }
    #bio p{
        font-size: 1.3em;
        width: 250px;
        float:left;
        margin-top: 100px;
    }
    #boots{
        width:150px;
        height: auto;
        float:right;
        margin-right: 0px;
    }
    .group{
        height:auto;
        width: 220px;
        display: block;
        margin:auto;
        margin-top: 15px;
    }
    #contact{
        margin-top: 30px;
    }
    #feature img{
        width:300px;
        height:auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
        float:none;
    }
}

@media screen and (max-width:530px){
    #navMain{
        display: none;
    }
    form #birds{
        display: none;
    }
    #coverPage #art{
        margin-top: 400px;
    }
    #cover{
        padding-top: 150px;
    }
    #port .nav-toggle{
        margin-top:-680px;
        margin-right:0;
        margin-left:15px;
    }
    .nav-toggle{
        display: block;
        margin-top: -530px;
        float:right;
        margin-right:0;
        position: relative;
        z-index: 500;
    }
    #bio .nav-toggle img{
        margin-top:-30px;
    }
    #port div{
        margin-top: 30px;
        padding-bottom: 0px;
    }
    #port footer{
        height: 0px;
    }
    #port #navMod{
        margin-top: -630px;
    }
    #bio #name{
        margin-top:-440px;
        display: block;
        text-align: center;
    }
    #port #name{
        margin-top: -680px;
        background-color: white;
     }
    #contact #name{
        margin-top: -500px;
    }
    legend{
        padding-top: 80px;
    }
    form label, form legend{
        padding-left: 10px;
    }
    #home #name{
        margin-top:-480px;
    }
    nav.nav-collapse{
        width: 100%;
        z-index: 300;
        margin: auto;
        margin-top: -440px;
        padding-bottom:0px;
    }
    #bio nav.nav-collapse{
        margin-top: -380px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color:#7de8d3;
    }
    #contact nav.nav-collapse{
        background-color:#02c6a1;
    }
    #contact .nav-toggle{
        margin-top:-110px;
    }
    .nav-collapse ul{
        width: 100%
        left:0;
        right: 0;
        margin: 0;
    }
    #contact .nav-collapse a:hover{
        color:#7de8d3;
    }
    .nav-collapse li a{
        display: block;
        width: 100%;
        margin-top:-15px;
    }
    #port ul{
        background-color:white;
        padding:10px;
    }
}
@media screen and (max-width:480px){
    #navMod{
        margin-top: -400px;
        position: relative;
        z-index: 299;
    }
    #bio .nav-toggle{
        display: inline;
        margin-top: -420px;
    }
    .nav-toggle{
        margin-top:-60px; 
    }
    .nav-toggle .active{
        margin-top:-300px;
    }
    #coverPage #art{
        margin-top: 350px;
    }
    #cover{
        padding-top: 200px;
    }
    #contact #name{
        margin-top: -480px;
        font-size: 2.5em;
        text-align: left;
        position: relative;
        z-index: 0;
    }
    
    #bio #name{
        text-align: left;
    }
    #birds{
        float:right;
        width: 75px;
        height: auto;
        margin-top: -20px;
    }
    #boots{
        display:block;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        float:none;
    }
    #bio p{
        text-align: center;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left:auto;
        margin-top: 20px;
    }
}
@media screen and (max-width:320px){
    #coverPage #art{
        margin-top: 260px;
        font-size: 3em;
    }
    #cover{
        padding-top: 310px;
    }
}

